<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar</ion-title>
    </ion-toolbar>
  </ion-header>

<form (ngSubmit)="registrar(registerForm)" #registerForm="ngForm">
  <ion-list>
    
    <ion-item>
      <ion-input 
      fill="solid" label-placement="floating" name="user" required [(ngModel)]="user"  >
        <div slot="label">Usuario <ion-text color="danger">(Obligatorio)</ion-text></div>
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input
      fill="solid" label-placement="floating" name="email" required [(ngModel)]="email"  >
      <div slot="label">Correo Electrónico <ion-text color="danger">(Obligatorio)</ion-text></div>
  </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input  fill="solid" name="password" required [(ngModel)]="password" labelPlacement="floating"  type="password" [counter]="true" maxlength="8">
        <div slot="label">Contraseña <ion-text color="danger">(Obligatorio)</ion-text></div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input  fill="solid" name="confirmPassword" required [(ngModel)]="confirmPassword" labelPlacement="floating"  type="password" [counter]="true" maxlength="8">
        <div slot="label">Confirmar contraseña <ion-text color="danger">(Obligatorio)</ion-text></div>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button type="submit"  color="danger" id="open-toast">Registrar</ion-button>

</form>


</ion-content>
