<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/casa"></ion-back-button>
    </ion-buttons>
    <ion-title>popovers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Popovers</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-button id="top-center">Side=Top, Alignment=Center</ion-button>
    <ion-popover trigger="top-center" side="top" alignment="center">
      <ng-template>
        <ion-content class="ion-padding">Hello World!</ion-content>
      </ng-template>
    </ion-popover>
  
    <ion-button id="bottom-start">Side=Bottom, Alignment=Start</ion-button>
    <ion-popover trigger="bottom-start" side="bottom" alignment="start">
      <ng-template>
        <ion-content class="ion-padding">Hello World!</ion-content>
      </ng-template>
    </ion-popover>
  
    <ion-button id="left-start">Side=Left, Alignment=Start</ion-button>
    <ion-popover trigger="left-start" side="left" alignment="start">
      <ng-template>
        <ion-content class="ion-padding">Hello World!</ion-content>
      </ng-template>
    </ion-popover>
  
    <ion-button id="right-end">Side=Right, Alignment=End</ion-button>
    <ion-popover trigger="right-end" side="right" alignment="end">
      <ng-template>
        <ion-content class="ion-padding">Hello World!</ion-content>
      </ng-template>
    </ion-popover>
  </div>

  <ion-button id="popover-button">Open Menu</ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">Option 1</ion-item>
        <ion-item [button]="true" [detail]="false">Option 2</ion-item>
        <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

        <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-button id="auto-trigger">Size=Auto</ion-button>
<ion-popover trigger="auto-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Hello!</ion-content>
  </ng-template>
</ion-popover>

<ion-button id="cover-trigger">Size=Cover</ion-button>
<ion-popover trigger="cover-trigger" size="cover">
  <ng-template>
    <ion-content class="ion-padding">Hello!</ion-content>
  </ng-template>
</ion-popover>

</ion-content>
